<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         colors="true"
     >
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="integration">
            <directory>./test/Integration</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>./test/Unit</directory>
        </testsuite>
        <testsuite name="misc">
            <directory>./test</directory>
            <exclude>./test/Integration</exclude>
            <exclude>./test/Unit</exclude>
        </testsuite>
    </testsuites>
</phpunit>
